@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}
img{
    width: 100vw;
}
a{
    display: block;
    background-color: rgb(250, 33, 33);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: white;
    border: 0px;
}