@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100vw;
    height: 100vh;
}
body{
    background-image: url('../images/background/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    height: 100vh;
    position: relative;
}
section#phoneContainer{
    background-image: url('../images/cellphone/frame-iphone.png');
    background-repeat: no-repeat;
    width: 311px;
    height: 627px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 269px;
    height: 476px;
    background-color: rgba(15, 15, 15, 0.911);
    border-radius: 2.5px;
}
section#redes{
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
}
section#redes > ul{
    list-style-type: none;
}
section#redes img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(41, 40, 40, 0.623);
    box-sizing: border-box;
    transition: 0.6s;
}
section#redes img:hover{
    border: 2px solid white;
    transform: translate(-15px);
    box-shadow: 10px 3px 10px 7px rgba(27, 27, 27, 0.644);

}